<h2>商品一覧</h2>

<div>
  <table>
    <thead>
      <tr>
        <th>商品ID</th>
        <th>商品名</th>
        <th>税抜価格</th>
      </tr>
    </thead>
  <% @items.each do |item| %>
  <tbody>
  <tr>
    <td><%= item.id %></td>
    <td><%= link_to admin_item_path(item.id) do %>
    <u><%= item.name %></u></td>
    <% end %>
    <td><%= item.price.to_s(:delimited) %></td>
    </tr>
    </tbody>
    <% end %>
    <%= link_to "新規登録", new_admin_item_path %>
    </table>
    <%= paginate @items %>
  </div>

