<h2>注文履歴詳細</h2>
<%= form_with model: @order, url: admin_order_path, method: :patch, local: true do |f| %>
<table>
  <tr>
    <th>購入者</th>
    <td><%= link_to admin_customer_path do %>
    <%= @order.name %>
    <% end %>
    </td>
  </tr>
  <tr><th>注文日</th><td><%= @order.created_at.strftime("%Y-%m-%d") %></td></tr>
  <tr><th>配送先</th><td>〒<%= @order.postal_code %> <%= @order.address %> <%= @order.name %></td></tr>
  <tr><th>支払い方法</th><td><%= @order.pay_method_i18n %></td></tr>
</table>
<% end %>

<table>
  <thead>
    <tr>
      <th>商品名</th>
      <th>単価</th>
      <th>数量</th>
      <th>小計</th>
    </tr>
  </thead> 
  <tbody>
   <% @sum = 0 %>
   <% @order.order_details.each do |order_detail| %>
   <tr>
     <td><%= order_detail.item.name %></td>
     <td><%= order_detail.price.to_s(:delimited) %></td>
     <td><%= order_detail.quantity %></td>
     <td><%= order_detail.price * order_detail.quantity %></td>
     <% @sum += order_detail.price * order_detail.quantity %>
     <% @items = @sum + 800 %>
   </tr>
   <% end %>
  </tbody>
</table>

<table>
  <tr>
    <th>商品合計</th>
    <td><%= @sum.to_s(:delimited) %>
    </td>
  </tr>
  <tr><th>送料</th><td><%= @order.shipping_fee %>円</td></tr>
  <tr>
    <th>ご請求額</th>
    <td><%= @items.to_s(:delimited) %> 円</td>
  </tr>
</table>