<h2>注文情報入力</h2>
<%= form_with model: @order,url: orders_confirm_path, method: :post  do |f| %>
<h4>支払方法</h4>
<div>
<p>
<%= f.radio_button :payment_method, "credit_card" %>
<%= f.label :payment_method_credit_card, "クレジットカード" %>
</p>
<%= f.radio_button :payment_method, "transfer" %>
<%= f.label :payment_method_transfer, "銀行振込" %>
</div>

<h4>お届け先</h4>
<div>
<%= f.radio_button :address_method, "address" %>
<%= f.label :address_method_address, "ご自身の住所" %>
<p><%= "〒#{current_customer.postal_code} #{current_customer.address}" %></p>
<p><%= "#{current_customer.last_name} #{current_customer.first_name}" %></p>
</div>

<%= f.radio_button :address_method, "address" %>
<%= f.label :address_method_address, "新しいお届け先" %>
<table>
<tr>
  <td>郵便番号（ハイフン無し）</td>
  <td><%= f.text_field :shipping_postcode, id: "customer_postcode" %></td>
</tr>
<tr>
  <td>住所</td>
  <td><%= f.text_field :shipping_address, size: 40, id: "customer_address" %></td>
</tr>
<tr>
  <td>宛名</td>
  <td><%= f.text_field :shipping_name %></td>
</tr>
</table>
<div>
  <%= f.submit "確認画面へ進む" %>
</div>
<% end %>