<body>
　
  <%= yield %>

<h2>商品一覧(全<%= @items.count %>件)</h2>
 <% @items.each_slice(3) do |item| %>
 <ul>
  <% @items.each do |item| %>
  <div>
　<%= link_to item_path(item.id) do %>
  <%= image_tag item.image %>
  <p><%= item.name %></p>
  <p><%= item.price %></p>
  <% end %>

<% end %>
</ul>
</div>
<% end %>
</body>
