<div>
  <%= image_tag @item.get_image, width: "210px", height: "150px" %>
  <p>商品名<%= @item.name %></p>
  <p>商品説明<%= @item.introduction %></p>
  <p>税込価格<%= @item.price.to_s(:delimited) %></p>
</div>
<%= form_with model: @cart_item_new, local: true do |f| %>
　<%= f.hidden_field :item_id, value: @item.id %>
  <%= f.select :amount, *[1..10] %>
  <%= f.submit "カートに入れる" %>
<% end %>