<div>
  <%= image_tag @item.get_image, width: "10%" %>
  <p>商品名<%= @item.name %></p>
  <p>商品説明<%= @item.introduction %></p>
  <p>税込価格<%= @item.price %></p>
</div>
<%= form_with model:@item_new, local:true do |f| %>
　<%= f.hidden_field :item_id, value: @item.id %>
  <%= f.select :amount, *[1..10] %>
  <%= f.submit "Add to Cart" %>
<% end %>